.container {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    background-color: #8ECFC1;
    height: 50px;
} p {
    color: #2d010c;
    text-shadow: 2px 2px #9f9f9f;
}
