<div class="container mw-100 d-flex justify-content-between align-self-end">
    <div class="social-media ml-3 d-flex justify-content-between align-items-center">
        <!-- <p>Rincón Criminológico</p> -->
        <img src="../../../../assets/img/footer/instagram.png">
        <img src="../../../../assets/img/footer/facebook.png">
        <img src="../../../../assets/img/footer/twitter.png">
        <img src="../../../../assets/img/footer/linkedIn.png">
    </div>
    <div class="privacy-container d-flex justify-content-between align-items-center">
        <p>Aviso legal</p>
        <p>Política de Cookies</p>
    </div>
</div>
