.container {
    height: 100px;
    background-color: #6F0622;
    position: fixed;
    bottom: 0px;
}

.social-media {
//     margin-left: 30px;
    color: #F7F4F3;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
} img {
    padding-right: 18px;
}

.privacy-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
} p {
    margin-right: 30px;
    color: #F7F4F3;
}
