<div class="container mw-100 d-flex justify-content-between align-items-center">
    <div class="burger-container" *ngIf="isPhone">
        <img class="burger" src="../../../../assets/img/header/burger.png">
        <img class="cross" src="../../../../assets/img/header/cross.png">
    </div>
    <div class="logo" (click)="goToHome()">
        <h2>Plan PREDEL</h2>
    </div>
    <div class="log-in" (click)="initLogIn()">
        <h5>Inicia sesión </h5>
        <!-- <img src="../../../../assets/img/header/login.png"> -->
    </div>
</div>


<router-outlet></router-outlet>
